body{
    margin: 0;
    padding: 0;
    
}
/* First Section */

.section{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    font-family: 'PT Serif', serif;
}

.header{
    border-left: 4px solid #0070ff;
    padding-left: 15px;
    
}
.header_text{
    font-size: 48px;
    line-height: 30px;
}
.left-side{
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text{
    font-size: 16px;
    margin-bottom: 30px;
}
.para2{
    margin-top: 30px;
}

.half{
    width: 40%;
    padding-left: 2%;
}

.half img{
    width: 85%;
}

.button{
    text-decoration: none;
    background-color: #0070ff;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
}

/* Section 2 */
.section2{
    width: 80%;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;

}

.header2{
    margin-top: 40px;
    text-align: center;
}
h1{
    font-size: 40px;
}

.span{
    color: #b0bf1a;
}

.card-container{
    display: flex;
    justify-content: space-between;
}

.card{
    width: 27%;
    background-color: #eeeeee;
    border-radius: 20px;
    padding: 2%;
}

.card2{
    width: 27%;
    background-color: #d3ffce;
    border-radius: 20px;
    padding: 2%;
}

.card3{
    width: 27%;
    background-color: lavender;
    border-radius: 20px;
    padding: 2%;
}
.img-div img{
    width: 40%;
}

/* Section 3 */
.section3{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 7%;
    font-family: 'Poppins', sans-serif;
}
.left-half{
    width: 40%;
    border-radius: 30px;
}
.right-half{
    width: 58%;
}

.left-half img{
    padding-top: 20px;
    width: 90%;
}

/* Section 4 */
.section4{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

.img-box img{
    padding: 30px 40px;
    width: 80%;
    height: 100%;
    border-radius: 30px;
}
.corona-header{
    margin-top: 50px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    
}
.text-box{
    width: 50%;

}
.img-box{
    width: 40%;
    padding-left: 20px;
}
.button-div{
    margin-top: 30px;
}

/* Footer Section */
footer{
    height: 175px;
    background-color: black;
    color: white;
    text-align: center;
    
}

.span-footer{
    color: red;
}
.footer{
    margin-top: 10%;
    padding: 10px;
}

.footer-header{
    font-family: 'Lobster', cursive;
}